@model Meta_Ads_World.Models.InstaPostModelList

@{
    Layout = "~/Views/Shared/_admin_layout.cshtml";
}

<section class="table-main">
    <div class="search">
        <input type="search" placeholder="Search" />

        <button class="btn-global">Submit</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-title">
                    <h3 class="heading-subheading">Instagram Post List</h3>
                </div>

                <div class="table-line">

                </div>
                <div class="table-wrapper">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Post Id</th>
                                <th>Like Status</th>
                                <th>Share Status</th>
                                <th>Save Status</th>
                                <th>Starting Date</th>
                                <th>Ending Date</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var iteam in Model.InstaPostList)
                            {
                                <tr>
                                    <td>@iteam.instapostid</td>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" checked="@iteam.instapostlikestatus">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" checked="@iteam.instagrampostsharestatus">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" checked="@iteam.instapostsavestatus">
                                        </div>
                                    </td>
                                    <td>
                                        <p>@iteam.instapostendingdate</p>
                                    </td>
                                    <td>@iteam.instapostendingdate</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
