@model Meta_Ads_World.Models.InstaPostModelList

@{
    Layout = "~/Views/Shared/_admin_layout.cshtml";
}

<section class="table-main">
    <div class="search">
        <input type="search" placeholder="Search" />

        <button class="btn-global">Submit</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-title">
                    <h3 class="heading-subheading">Instagram Post List</h3>
                </div>

                <div class="table-line">

                </div>
                <div class="table-wrapper">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Post Id</th>
                                <th>Like Status</th>
                                <th>Share Status</th>
                                <th>Save Status</th>
                                <th>Starting Date</th>
                                <th>Ending Date</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var iteam in Model.InstaPostList)
                            {
                                <tr>
                                    <td>@iteam.instapostid</td>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" checked="@iteam.instapostlikestatus" onchange="likeupdatestatus(@iteam.instapostid,this.checked)">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" checked="@iteam.instagrampostsharestatus" onchange="shareupdatestatus(@iteam.instapostid,this.checked)">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" checked="@iteam.instapostsavestatus" onchange="saveupdatestatus(@iteam.instapostid,this.checked)">
                                        </div>
                                    </td>
                                    <td>
                                        <p>@iteam.instapostendingdate</p>
                                    </td>
                                    <td>@iteam.instapostendingdate</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script>
        function likeupdatestatus(getid,getstatus) {
            console.log("Hello");
            $.ajax({
                type:"Post",
                url: "@Url.Action("instalikestatus", "Admin")",
                data:{
                    id:getid, 
                    status:getstatus,
                },
                success:function(data){
                    console.log(data);
                },
                error:function(data){

                }
            });
        }

        function shareupdatestatus(getid, getshare) {
            console.log("Hello");
            $.ajax({
                type: "Post",
                url: "@Url.Action("instasharestatus", "Admin")",
                data: {
                    id: getid,
                    status: getshare,
                },
                success: function (data) {
                    console.log(data);
                },
                error: function (data) {

                }
            });
        }

        function saveupdatestatus(getid, getsave) {
            console.log("Hello");
            $.ajax({
                type: "Post",
                url: "@Url.Action("instasavestatus", "Admin")",
                data: {
                    id: getid,
                    status: getsave,
                },
                success: function (data) {
                    console.log(data);
                },
                error: function (data) {

                }
            });
        }

      
        

        
    </script>
}
